body {
  margin-top: 20% ;  
 
  margin-left: 40% ;
 
  
  font-family: -apple-system, BlinkMacSystemFont, 'Driod Serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: #303030;/*web background color*/
  color: #ffffff; /*word color*/
  font-size: 19px;
  
  background: url("SW.png") no-repeat , 
  url("Galaxy_1.png") no-repeat ;
  background-position:  50% -10%;
  background-size:  30% 60%, cover;
  background-attachment: fixed, fixed;
  
  
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
